.App {
  text-align: center;
}
.profile-image{
  height: 150px;
  width: 150px;
  border-radius: 6%;
  box-shadow: 10px 10px cornflowerblue ;
  border-style: groove;
}
.all-profile-container{
  display: flex;
  flex-wrap: wrap;
}

.profile-container{
  padding: 10px;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid white;
}
.navbar h1 {
  color:blue;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16 px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color:tomato;
}

.selected-profile-container {
  padding: 20px;
  display: flex;
  align-items: center;

}

.selected-profile-image {
  height: 150px;
  width: 150px;
  border-radius: 6%;
  box-shadow: 10px 10px cornflowerblue ;
  border-style: groove;
}

.selected-profile-name {
  font-size: 45px;
  align-items: center;
}
/* <div className="selected-profile-container">
<h1 className="selected-profile-name">{this.props.selectedProfile.name}</h1>
<img className="selected-profile-image" src={this.props.selectedProfile.avatar_url} alt="profileImage"/>
<p>{this.props.selectedProfile.login} is my nickname</p>
<div className="selected-profile-comments"> */